################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PizzaFactory.sln.DotSettings.user
/PizzaFactory/obj/Debug
/.vs/PizzaFactory/v15
/packages
/PizzaFactory/bin/Debug
