<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="BaseCookingTime"/>
      <add key="NumberOfPizzas"/>
      <add key="Interval"/>
      <add key="ResultFileName"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>